* {
  margin: 0;
  font-family: 'Montserrat',sans-serif;
}
.navbar{
  width: 100%;
  display: block;
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  background-color: #A356D6;
}
.navbar a {
  text-decoration: none;
  color: #EBEDDF;
  font-weight: 200;
  padding: 6px;
  text-decoration: none;
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: 1s background-size;
}
.navbar .links {
  text-align: center;
  display: block;
}
.navbar a:hover {
	background-size: 100% .1em;
}